@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --primary: #0e888d;
  --secondary: #fea629;
  --text-main: #415861;
  --text-muted: #70868f;
  --bg-light: #f8fafc;
  --bg-card: #fafafa;
  --border-card: #f5f5f5;
  --grey: #e3e3e3;
  --white:#ffffff;

}

body {
  font-family: 'Avenir Next', 'Avenir', 'Nunito', system-ui, sans-serif;
  color: var(--color-text-main);
  background-color: #ffffff;
}


.container-main {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
}

.page-title{
    @apply text-[50px] font-bold text-text-main mb-6 uppercase;
}


.section-title{
  @apply text-[30px] font-bold text-text-main uppercase;
  padding-bottom: 12px;
}

.section-subtitle{
  @apply text-[20px] font-medium text-text-main;
}

.section-info-text {
    @apply text-[26px] font-medium text-text-main leading-normal;
}

.section-intro-text {
    @apply text-[24px] font-medium text-text-main leading-normal;
}